<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Menu">
            menu
        </mat-icon>
    </button>
    <span>Meu Portfólio</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer mode="side">
        <mat-nav-list>
            <a mat-list-item href="#" routerLink="/" routerLinkActive="active-link">
                <mat-icon>home</mat-icon>
                <span>Início</span>
            </a>
            <a mat-list-item href="#" routerLink="/projetos" routerLinkActive="active-link">
                <mat-icon>folder</mat-icon>
                <span>Projetos</span>
            </a>
            <a mat-list-item href="#" routerLink="/sobre" routerLinkActive="active-link">
                <mat-icon>person</mat-icon>
                <span>Sobre Mim</span>
            </a>
            <a mat-list-item href="#" routerLink="/contato" routerLinkActive="active-link">
                <mat-icon>mail</mat-icon>
                <span>Contato</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Conteúdo principal do aplicativo -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>